@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Russo+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000000;
}

.cover{
  width: 400px;
  border-radius: 7px;
  background: #ffff;
}

.cover header{
  color: rgb(165, 23, 165);
  font-size: 21px;
  font-weight: 500;
  padding: 16px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header i {
  cursor: pointer;
  font-size: 0px;
  margin-right: 8px;
}

.cover.active header i{
  font-size: 30px;
  margin-left: 5px;
}

.cover .input-part{
  margin: 20px 25px 30px;
}

.cover.active .input-part{
  display: none;
}

.input-part .info-txt{
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.info-txt.error{
  display: block;
  color: #ffff;
  background: rgb(230, 180, 236);
  border: 1px solid rgb(230, 180, 236);
}

.info-txt.pending{
  color: #000000;
  background: #2eca3b;
  border: 1px solid #4fc563;
}

.input-part :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius : 7px;
}

.input-part input{
  text-align: center;
  border: 1px solid #ccc;
}

.input-part input:is(:focus, :valid){
  border: 1px solid #aa2598;
}

.input-part .separator{
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before{
  content: "or";
  color: #ccc;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}

.input-part button{
  color: #fff;
  cursor: pointer;
  background: #000000;
}

.cover .weather-part{
  margin: 30px 0 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover.active .weather-part{
  display: flex;
}

.weather-part img{
  max-width: 130px;
}

.weather-part .temp{
  display: flex;
  font-size: 72px;
  font-weight: 500;
}

.weather-part .temp .numb{
  font-weight: 600;
}

.weather-part .temp .deg{
  font-size: 40px;
  margin: 10px 5px 0 0;
  display: block;
}

.weather-part .weather{
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}

.weather-part .location{
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-bottom: 30px;
}

.location i{
  font-size: 22px;
  margin-right: 5px;
}

.weather-part .bottom-deatils{
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  justify-content: space-between;
}

.bottom-deatils .column{
  width: 100%;
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}

.column i{
  color: purple;
  font-size: 40px;
}

.column.humidity{
  border-left: 1px solid #ccc;
}

.details .temp, .humidity span{
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}

.details p{
  font-size: 14px;
  margin-top: -4px; 
}